.gallery {
    padding: calc(var(--index) *2) 0;
    background: var(--background);
    background-image: radial-gradient(circle at top left,
            var(--wave-color-2) 10%,
            var(--background)30%);

}

.title {
    font-size: 2.5rem;
    font-family: serif;
    font-weight: bold;
    color: var(--foreground);
    margin: calc(var(--index) * 1) 0;
    text-align: center;
}

.swiperContainer {
    max-width: 100%;
    overflow: hidden;
    margin: 0 calc(var(--index) * 2);
}

.swiper-slide {
    width: 100%;
    max-width: 360px;
    height: 352px; /* enforce consistent slide height */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 768px) {
    .swiper-slide {
        max-width: 90vw;
        height: 300px;
    }
}

.galleryContainer {
    width: 100%;
    /* max-width: 420px; */
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.swiperSlide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease;
    border-radius: 12px;
}



.swiperSlide-active {
    position: relative;
    width: 350px;
    transition: 1s;
}

.swiperSlide-active::after {
    background: rgba(123, 123, 123, 0.4);
}

.swiperSlide-active img {
    transform: scale(1.3);
    object-position: 50% 0%;
}