.footer {
    background-color: var(--background);
    color: var(--primary);
    padding: calc(var(--index)*2) 0;
    position: relative;
    z-index: 0;
}



.grid {
    display: grid;
    gap: 3rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: serif;
    margin-bottom: 1rem;
}

.description {
    font-size: 0.875rem;
    color: var(--foreground);
    line-height: 1.6;
}

.heading {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.linkList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: var(--foreground);
}

.link {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--primary);
    font-weight: 500;
}

.socialIcons {
    display: flex;
    gap: 1rem;
}

.socialButton {
    padding: 0.75rem;
    background-color: var(--social-button-background);
    border-radius: 9999px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.socialButton:hover {
    background-color: var(--social-button-hover-background);
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--background);
}

.bottom {
    position: relative;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

@media (min-width: 768px) {
    .bottom {
        flex-direction: row;
    }
}

.bottomLinks {
    display: flex;
    gap: 1.5rem;
}