.swiper {
    width: 250px;
    height: 450px;
    padding: 50px 0;
}

.swiper-slide {
    position: relative;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    user-select: none;
}

.swiper-slide img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}