.toggleButton {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--background);
    border: 1px solid var(--border);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.toggleButton:hover {
    background-color: var(--muted);
}

.iconActive {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--primary);
}

.iconInactive {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--primary);
}