.card {
    width: 100%;
    max-width: 420px;
    aspect-ratio: 3 / 3.7;
    margin: 0 auto;
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.3s ease;
    transform: translateY(0);
}

@media (min-width: 768px) {
    .card {
        aspect-ratio: 3 /4;
    }
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

.image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    z-index: 0;
}

.imageZoom {
    transform: scale(1.1);
}

.content {
    position: relative;
    bottom: 0;
    z-index: 1;
    padding: calc(var(--index) * 1);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    font-size: calc(var(--index)*1.2);
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.priceRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
}

.stars {
    display: flex;
    gap: 0.25rem;
}

.star {
    color: var(--primary);
    font-size: 0.875rem;
}

.cartButton {
    width: 100%;
    padding: 0.5rem 0;
    background-image: var(--gold-metal);
    color: var(--primary-foreground);
    background-size: 300% 100%;
    background-repeat: no-repeat;
    animation: goldMove 6s linear infinite;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: background-image 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    cursor: pointer;
}

.cartButton:hover {
    background-image: linear-gradient(90deg, var(--accent), var(--accent));
}

.buttonDetailis {
    width: 100%;
    padding: 0.5rem 0;
    background-color: var(--sidebar-ring);
    color: var(--primary-foreground);
    font-weight: 600;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
}

.buttonDetailis:hover {
    background-color: var(--sidebar-primary);
}

.cartIcon {
    width: 1rem;
    height: 1rem;
}

@keyframes goldMove {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}